In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Muertes Maternas 2019_20112020.csv', encoding = 'latin-1')

In [ ]:
df.head(5)

,ANIO_NACIMIENTO,MES_NACIMIENTO,MES_NACIMIENTOD,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ESTADO_CONYUGALD,ENTIDAD_RESIDENCIA,ENTIDAD_RESIDENCIAD,MUNICIPIO_RESIDENCIA,...,DIA_REGISTRO,ANIO_CERTIFICACION,MES_CERTIFICACION,MES_CERTIFICACIOND,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,RAZON_MORTALIDAD_MATERNAD,EDAD_QUINQUENAL,EDAD_QUINQUENALD
0,0,0,NO ESPECIFICADO,0,35,4,UNION LIBRE,8,CHIHUAHUA,29,...,5,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años
1,0,0,NO ESPECIFICADO,0,20,5,CASADO,8,CHIHUAHUA,47,...,6,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años
2,1962,7,JULIO,12,39,5,CASADO,12,GUERRERO,20,...,24,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años
3,1974,2,FEBRERO,10,27,5,CASADO,12,GUERRERO,41,...,17,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,4,25 a 29 años
4,1980,4,ABRIL,18,20,4,UNION LIBRE,18,NAYARIT,9,...,15,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19932 entries, 0 to 19931
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ANIO_NACIMIENTO            19932 non-null  int64
 1   MES_NACIMIENTO             19932 non-null  int64
 2   MES_NACIMIENTOD            19932 non-null  object
 3   DIA_NACIMIENTO             19932 non-null  int64
 4   EDAD                       19932 non-null  int64
 5   ESTADO_CONYUGAL            19932 non-null  int64
 6   ESTADO_CONYUGALD           19932 non-null  object
 7   ENTIDAD_RESIDENCIA         19932 non-null  int64
 8   ENTIDAD_RESIDENCIAD        19932 non-null  object
 9   MUNICIPIO_RESIDENCIA       19932 non-null  int64
 10  MUNICIPIO_RESIDENCIAD      19932 non-null  object
 11  LOCALIDAD_RESIDENCIA       19932 non-null  int64
 12  LOCALIDAD_RESIDENCIAD      19932 non-null  object
 13  TAMANIO_LOCALIDAD          19932 non-null  int64
 14  TAMANIO_LOCALIDADD         19932 non-null  object
 15  OCUPACION_HABITUAL         19932 non-null  int64
 16  OCUPACION_HABITUALD        19932 non-null  object
 17  ESCOLARIDAD                19932 non-null  int64
 18  ESCOLARIDADD               19932 non-null  object
 19  DERECHOHABIENCIA           19932 non-null  int64
 20  DERECHOHABIENCIAD          19932 non-null  object
 21  ENTIDAD_OCURRENCIA         19932 non-null  int64
 22  ENTIDAD_OCURRENCIAD        19932 non-null  object
 23  MUNICIPIO_OCURRENCIA       19932 non-null  int64
 24  MUNICIPIO_OCURRENCIAD      19932 non-null  object
 25  LOCALIDAD_OCURRENCIA       19932 non-null  int64
 26  LOCALIDAD_OCURRENCIAD      19932 non-null  object
 27  SITIO_DEFUNCION            19932 non-null  int64
 28  SITIO_DEFUNCIOND           19932 non-null  object
 29  ANIO_DEFUNCION             19932 non-null  int64
 30  MES_DEFUNCION              19932 non-null  int64
 31  MES_DEFUNCIOND             19932 non-null  object
 32  DIA_DEFUNCION              19932 non-null  int64
 33  HORA_DEFUNCION             19932 non-null  int64
 34  MINUTOS_DEFUNCION          19932 non-null  int64
 35  ASISTENCIA_MEDICA          19932 non-null  int64
 36  ASISTENCIA_MEDICAD         19932 non-null  object
 37  CAUSA_CIE_4                19932 non-null  object
 38  CAUSA_CIE_4D               19932 non-null  object
 39  CERTIFICO                  19932 non-null  int64
 40  CERTIFICOD                 19932 non-null  object
 41  ENTIDAD_REGISTRO           19932 non-null  int64
 42  ENTIDAD_REGISTROD          19932 non-null  object
 43  MUNICIPIO_REGISTRO         19932 non-null  int64
 44  MUNICIPIO_REGISTROD        19932 non-null  object
 45  ANIO_REGISTRO              19932 non-null  int64
 46  MES_REGISTRO               19932 non-null  int64
 47  MES_REGISTROD              19932 non-null  object
 48  DIA_REGISTRO               19932 non-null  int64
 49  ANIO_CERTIFICACION         19932 non-null  int64
 50  MES_CERTIFICACION          19932 non-null  int64
 51  MES_CERTIFICACIOND         19932 non-null  object
 52  DIA_CERTIFICACION          19932 non-null  int64
 53  ANIO_BASE_DATOS            19932 non-null  int64
 54  RAZON_MORTALIDAD_MATERNA   19932 non-null  int64
 55  RAZON_MORTALIDAD_MATERNAD  19932 non-null  object
 56  EDAD_QUINQUENAL            19932 non-null  int64
 57  EDAD_QUINQUENALD           19932 non-null  object
dtypes: int64(34), object(24)
memory usage: 8.8+ MB

In [ ]:
df.columns

Index(['ANIO_NACIMIENTO', 'MES_NACIMIENTO', 'MES_NACIMIENTOD',
       'DIA_NACIMIENTO', 'EDAD', 'ESTADO_CONYUGAL', 'ESTADO_CONYUGALD',
       'ENTIDAD_RESIDENCIA', 'ENTIDAD_RESIDENCIAD', 'MUNICIPIO_RESIDENCIA',
       'MUNICIPIO_RESIDENCIAD', 'LOCALIDAD_RESIDENCIA',
       'LOCALIDAD_RESIDENCIAD', 'TAMANIO_LOCALIDAD', 'TAMANIO_LOCALIDADD',
       'OCUPACION_HABITUAL', 'OCUPACION_HABITUALD', 'ESCOLARIDAD',
       'ESCOLARIDADD', 'DERECHOHABIENCIA', 'DERECHOHABIENCIAD',
       'ENTIDAD_OCURRENCIA', 'ENTIDAD_OCURRENCIAD', 'MUNICIPIO_OCURRENCIA',
       'MUNICIPIO_OCURRENCIAD', 'LOCALIDAD_OCURRENCIA',
       'LOCALIDAD_OCURRENCIAD', 'SITIO_DEFUNCION', 'SITIO_DEFUNCIOND',
       'ANIO_DEFUNCION', 'MES_DEFUNCION', 'MES_DEFUNCIOND', 'DIA_DEFUNCION',
       'HORA_DEFUNCION', 'MINUTOS_DEFUNCION', 'ASISTENCIA_MEDICA',
       'ASISTENCIA_MEDICAD', 'CAUSA_CIE_4', 'CAUSA_CIE_4D', 'CERTIFICO',
       'CERTIFICOD', 'ENTIDAD_REGISTRO', 'ENTIDAD_REGISTROD',
       'MUNICIPIO_REGISTRO', 'MUNICIPIO_REGISTROD', 'ANIO_REGISTRO',
       'MES_REGISTRO', 'MES_REGISTROD', 'DIA_REGISTRO', 'ANIO_CERTIFICACION',
       'MES_CERTIFICACION', 'MES_CERTIFICACIOND', 'DIA_CERTIFICACION',
       'ANIO_BASE_DATOS', 'RAZON_MORTALIDAD_MATERNA',
       'RAZON_MORTALIDAD_MATERNAD', 'EDAD_QUINQUENAL', 'EDAD_QUINQUENALD'],
      dtype='object')

In [ ]:
df['ENTIDAD_RESIDENCIAD']

0         CHIHUAHUA
1         CHIHUAHUA
2          GUERRERO
3          GUERRERO
4           NAYARIT
            ...
19927    TAMAULIPAS
19928    TAMAULIPAS
19929    TAMAULIPAS
19930    TAMAULIPAS
19931    TAMAULIPAS
Name: ENTIDAD_RESIDENCIAD, Length: 19932, dtype: object

In [ ]:
df.loc[0]

ANIO_NACIMIENTO                                                              0
MES_NACIMIENTO                                                               0
MES_NACIMIENTOD                                                NO ESPECIFICADO
DIA_NACIMIENTO                                                               0
EDAD                                                                        35
ESTADO_CONYUGAL                                                              4
ESTADO_CONYUGALD                                                   UNION LIBRE
ENTIDAD_RESIDENCIA                                                           8
ENTIDAD_RESIDENCIAD                                                  CHIHUAHUA
MUNICIPIO_RESIDENCIA                                                        29
MUNICIPIO_RESIDENCIAD                                        GUADALUPE Y CALVO
LOCALIDAD_RESIDENCIA                                                       752
LOCALIDAD_RESIDENCIAD                                                CALABAZAS
TAMANIO_LOCALIDAD                                                            1
TAMANIO_LOCALIDADD                               1 A 999            HABITANTES
OCUPACION_HABITUAL                                                           0
OCUPACION_HABITUALD                                            NO ESPECIFICADO
ESCOLARIDAD                                                                  3
ESCOLARIDADD                                               PRIMARIA INCOMPLETA
DERECHOHABIENCIA                                                             0
DERECHOHABIENCIAD                                              NO ESPECIFICADA
ENTIDAD_OCURRENCIA                                                           8
ENTIDAD_OCURRENCIAD                                                  CHIHUAHUA
MUNICIPIO_OCURRENCIA                                                        29
MUNICIPIO_OCURRENCIAD                                        GUADALUPE Y CALVO
LOCALIDAD_OCURRENCIA                                                       752
LOCALIDAD_OCURRENCIAD                                                CALABAZAS
SITIO_DEFUNCION                                                             11
SITIO_DEFUNCIOND                                                         HOGAR
ANIO_DEFUNCION                                                            1994
MES_DEFUNCION                                                               11
MES_DEFUNCIOND                                                       NOVIEMBRE
DIA_DEFUNCION                                                                2
HORA_DEFUNCION                                                               4
MINUTOS_DEFUNCION                                                            0
ASISTENCIA_MEDICA                                                            0
ASISTENCIA_MEDICAD                                             NO ESPECIFICADO
CAUSA_CIE_4                                                               O759
CAUSA_CIE_4D                 O759  COMPLICACIÓN NO ESPECIFICADA DEL TRABAJO...
CERTIFICO                                                                    0
CERTIFICOD                                                     NO ESPECIFICADO
ENTIDAD_REGISTRO                                                             8
ENTIDAD_REGISTROD                                                    CHIHUAHUA
MUNICIPIO_REGISTRO                                                          29
MUNICIPIO_REGISTROD                                          GUADALUPE Y CALVO
ANIO_REGISTRO                                                             2002
MES_REGISTRO                                                                12
MES_REGISTROD                                                        DICIEMBRE
DIA_REGISTRO                                                                 5
ANIO_CERTIFICACION                                                           0
MES_CERTIFICACION                                                            0
MES_CERTIFICACIOND                                             NO ESPECIFICADO
DIA_CERTIFICACION                                                            0
ANIO_BASE_DATOS                                                           2002
RAZON_MORTALIDAD_MATERNA                                                     1
RAZON_MORTALIDAD_MATERNAD    MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...
EDAD_QUINQUENAL                                                              6
EDAD_QUINQUENALD                                                  35 a 39 años
Name: 0, dtype: object

In [ ]:
df[ df['EDAD'] > 80 ]

,ANIO_NACIMIENTO,MES_NACIMIENTO,MES_NACIMIENTOD,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ESTADO_CONYUGALD,ENTIDAD_RESIDENCIA,ENTIDAD_RESIDENCIAD,MUNICIPIO_RESIDENCIA,...,DIA_REGISTRO,ANIO_CERTIFICACION,MES_CERTIFICACION,MES_CERTIFICACIOND,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,RAZON_MORTALIDAD_MATERNAD,EDAD_QUINQUENAL,EDAD_QUINQUENALD
426,0,0,NO ESPECIFICADO,0,998,5,CASADO,20,OAXACA,41,...,3,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
478,0,0,NO ESPECIFICADO,0,998,4,UNION LIBRE,8,CHIHUAHUA,12,...,0,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
537,0,0,NO ESPECIFICADO,0,998,1,SOLTERO,10,DURANGO,5,...,0,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
580,0,0,NO ESPECIFICADO,0,998,1,SOLTERO,8,CHIHUAHUA,29,...,18,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
880,0,0,NO ESPECIFICADO,0,998,1,SOLTERO,11,GUANAJUATO,17,...,11,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
992,0,0,NO ESPECIFICADO,0,998,4,UNION LIBRE,8,CHIHUAHUA,65,...,0,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
997,0,0,NO ESPECIFICADO,0,998,4,UNION LIBRE,15,MÉXICO,45,...,25,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
1056,0,0,NO ESPECIFICADO,0,998,4,UNION LIBRE,8,CHIHUAHUA,9,...,0,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
1167,0,0,NO ESPECIFICADO,0,998,4,UNION LIBRE,28,TAMAULIPAS,12,...,16,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
1199,0,0,NO ESPECIFICADO,0,998,1,SOLTERO,12,GUERRERO,11,...,16,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
1369,0,0,NO ESPECIFICADO,0,998,4,UNION LIBRE,21,PUEBLA,156,...,3,0,0,NO ESPECIFICADO,0,2002,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,11,No especificado
1574,0,0,NO ESPECIFICADO,0,998,0,SE IGNORA,15,MÉXICO,31,...,12,0,0,NO ESPECIFICADO,0,2003,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
4395,0,0,NO ESPECIFICADO,0,998,5,CASADO,25,SINALOA,17,...,8,2005,2,FEBRERO,7,2005,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
4973,0,0,NO ESPECIFICADO,0,998,5,CASADO,27,TABASCO,2,...,28,2006,9,SEPTIEMBRE,28,2006,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
5259,0,0,NO ESPECIFICADO,0,998,0,SE IGNORA,16,MICHOACÁN DE OCAMPO,104,...,1,2007,11,NOVIEMBRE,0,2007,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,11,No especificado
5814,0,0,NO ESPECIFICADO,0,998,2,DIVORCIADO,10,DURANGO,9,...,17,2006,8,AGOSTO,0,2006,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
6608,0,0,NO ESPECIFICADO,0,998,4,UNION LIBRE,25,SINALOA,7,...,24,2006,0,NO ESPECIFICADO,0,2006,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
6609,0,0,NO ESPECIFICADO,0,998,5,CASADO,25,SINALOA,12,...,11,2006,0,NO ESPECIFICADO,0,2006,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
6610,0,0,NO ESPECIFICADO,0,998,2,DIVORCIADO,10,DURANGO,5,...,3,2006,2,FEBRERO,0,2006,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
8475,0,0,NO ESPECIFICADO,0,998,0,SE IGNORA,30,VERACRUZ DE IGNACIO DE LA LLAVE,124,...,31,0,0,NO ESPECIFICADO,0,2009,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,11,No especificado
9276,0,0,NO ESPECIFICADO,0,998,0,SE IGNORA,0,NO ESPECIFICADO,0,...,27,2008,12,DICIEMBRE,28,2009,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,11,No especificado
11629,0,0,NO ESPECIFICADO,0,998,0,SE IGNORA,19,NUEVO LEÓN,39,...,23,2010,7,JULIO,23,2010,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,11,No especificado
11631,0,0,NO ESPECIFICADO,0,998,5,CASADO,25,SINALOA,4,...,24,2010,2,FEBRERO,13,2010,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,11,No especificado
11632,0,0,NO ESPECIFICADO,0,998,5,CASADO,23,QUINTANA ROO,2,...,13,2010,12,DICIEMBRE,0,2010,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,11,No especificado
15069,1933,8,AGOSTO,15,82,2,DIVORCIADO,24,SAN LUIS POTOSÍ,28,...,11,2015,9,SEPTIEMBRE,11,2015,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,10,55 años y más
15593,1933,11,NOVIEMBRE,11,82,2,DIVORCIADO,15,MÉXICO,13,...,30,2015,12,DICIEMBRE,29,2015,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,10,55 años y más
15703,1933,12,DICIEMBRE,18,81,2,DIVORCIADO,9,CIUDAD DE MÉXICO,12,...,13,2015,8,AGOSTO,12,2015,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,10,55 años y más
17058,1930,8,AGOSTO,13,86,3,VIUDO,30,VERACRUZ DE IGNACIO DE LA LLAVE,40,...,13,2017,1,ENERO,13,2017,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,10,55 años y más
17658,1930,1,ENERO,6,86,2,DIVORCIADO,14,JALISCO,98,...,16,2016,2,FEBRERO,16,2016,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,10,55 años y más
19883,0,0,NO ESPECIFICADO,0,998,0,SE IGNORA,18,NAYARIT,13,...,1,2019,7,JULIO,99,2019,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,11,No especificado

In [ ]:
df['EDAD'].describe()

count    19932.000000
mean        29.694311
std         35.122756
min         11.000000
25%         22.000000
50%         28.000000
75%         34.000000
max        998.000000
Name: EDAD, dtype: float64

In [ ]:
mean_edad = df[ df['EDAD'] != 998 ]['EDAD'].mean()

In [ ]:
pd.to_numeric(df['EDAD'])

0        35
1        20
2        39
3        27
4        20
         ..
19927    33
19928    17
19929    14
19930    27
19931    36
Name: EDAD, Length: 19932, dtype: int64

In [ ]:
df['EDAD'] = df['EDAD'].apply(lambda x: mean_edad  if x > 150 else x)
df['EDAD'].describe()

count    19932.000000
mean        28.478274
std          7.486899
min         11.000000
25%         22.000000
50%         28.000000
75%         34.000000
max         86.000000
Name: EDAD, dtype: float64

In [ ]:
df['LUGAR_NACIMIENTO'] = df['LOCALIDAD_RESIDENCIAD'] + ', ' + df['ENTIDAD_RESIDENCIAD']

In [ ]:
df.head(5)

,ANIO_NACIMIENTO,MES_NACIMIENTO,MES_NACIMIENTOD,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ESTADO_CONYUGALD,ENTIDAD_RESIDENCIA,ENTIDAD_RESIDENCIAD,MUNICIPIO_RESIDENCIA,...,ANIO_CERTIFICACION,MES_CERTIFICACION,MES_CERTIFICACIOND,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,RAZON_MORTALIDAD_MATERNAD,EDAD_QUINQUENAL,EDAD_QUINQUENALD,LUGAR_NACIMIENTO
0,0,0,NO ESPECIFICADO,0,35.0,4,UNION LIBRE,8,CHIHUAHUA,29,...,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años,"CALABAZAS, CHIHUAHUA"
1,0,0,NO ESPECIFICADO,0,20.0,5,CASADO,8,CHIHUAHUA,47,...,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años,"EL CAJÓN, CHIHUAHUA"
2,1962,7,JULIO,12,39.0,5,CASADO,12,GUERRERO,20,...,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años,"PATLICHA, GUERRERO"
3,1974,2,FEBRERO,10,27.0,5,CASADO,12,GUERRERO,41,...,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,4,25 a 29 años,"MESÓN DE IXTLÁHUAC, GUERRERO"
4,1980,4,ABRIL,18,20.0,4,UNION LIBRE,18,NAYARIT,9,...,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años,"LAS GUITARRAS, NAYARIT"

In [ ]:
df.duplicated().value_counts()

False    19932
dtype: int64

In [ ]:
df.isna().value_counts()

ANIO_NACIMIENTO  MES_NACIMIENTO  MES_NACIMIENTOD  DIA_NACIMIENTO  EDAD   ESTADO_CONYUGAL  ESTADO_CONYUGALD  ENTIDAD_RESIDENCIA  ENTIDAD_RESIDENCIAD  MUNICIPIO_RESIDENCIA  MUNICIPIO_RESIDENCIAD  LOCALIDAD_RESIDENCIA  LOCALIDAD_RESIDENCIAD  TAMANIO_LOCALIDAD  TAMANIO_LOCALIDADD  OCUPACION_HABITUAL  OCUPACION_HABITUALD  ESCOLARIDAD  ESCOLARIDADD  DERECHOHABIENCIA  DERECHOHABIENCIAD  ENTIDAD_OCURRENCIA  ENTIDAD_OCURRENCIAD  MUNICIPIO_OCURRENCIA  MUNICIPIO_OCURRENCIAD  LOCALIDAD_OCURRENCIA  LOCALIDAD_OCURRENCIAD  SITIO_DEFUNCION  SITIO_DEFUNCIOND  ANIO_DEFUNCION  MES_DEFUNCION  MES_DEFUNCIOND  DIA_DEFUNCION  HORA_DEFUNCION  MINUTOS_DEFUNCION  ASISTENCIA_MEDICA  ASISTENCIA_MEDICAD  CAUSA_CIE_4  CAUSA_CIE_4D  CERTIFICO  CERTIFICOD  ENTIDAD_REGISTRO  ENTIDAD_REGISTROD  MUNICIPIO_REGISTRO  MUNICIPIO_REGISTROD  ANIO_REGISTRO  MES_REGISTRO  MES_REGISTROD  DIA_REGISTRO  ANIO_CERTIFICACION  MES_CERTIFICACION  MES_CERTIFICACIOND  DIA_CERTIFICACION  ANIO_BASE_DATOS  RAZON_MORTALIDAD_MATERNA  RAZON_MORTALIDAD_MATERNAD  EDAD_QUINQUENAL  EDAD_QUINQUENALD  LUGAR_NACIMIENTO
False            False           False            False           False  False            False             False               False                False                 False                  False                 False                  False              False               False               False                False        False         False             False              False               False                False                 False                  False                 False                  False            False             False           False          False           False          False           False              False              False               False        False         False      False       False             False              False               False                False          False         False          False         False               False              False               False              False            False                     False                      False            False             False               19932
dtype: int64